.root {
    border-collapse: collapse;
    border-radius: 10px;
    font-family: montserrat, serif;
    color: #444F5F;
    width: 1200px;
    overflow: hidden;
}

.root td, th {
    text-align: left;
    padding: 15px;
}

.row {
    background-color: white;
    border-bottom: 1px solid #eaeaea;
}

.row:last-child {
    border-bottom: none;
}